<ion-view ng-controller="slideImgage">
<ion-header-bar class="bar ">
        <a class="icon ion-android-arrow-back" ng-click="goBack()"  style="font-size:30px;padding-left:10px;color:green"ng-click="back()">
       </a>
 <h1 class="title" >Amenities</h1>
</ion-header-bar>
<ion-content>
  
            <div class="item" style="padding:0;">
               <img src="img/001.jpg" class="staticImgDiv" />
            </div>
            <div class="item item-text-wrap" style="staticImgContent">
                <h1 class="staticImgHeading">DIGITAL STAGE</h1>
                <img src="img/sprite.png" class="sprite"/> 
                <p class="staticImgparagraph">
A large format LED digital backdrop sets the stage for all your important events & occasions. The LED screens are also built with powerful KARAOKE systems. The play of light and sound will ensure that there is never a dull moment and guests are entertained all through the function. By going digital and choosing technology over tradition, you can say goodbye to boring stage backdrops once and for all!                 <div class="item" style="padding:0;">
             </p> 
             </div>
             </div>
              <div class="item" style="padding:0;"> 
               <img src="img/audio.jpg" class="staticImgDiv" />
            </div>
            <div class="item item-text-wrap" style="staticImgContent">
                <h1 class="staticImgHeading">AUDIO-VISUAL</h1>
                <img src="img/sprite.png" class="sprite"/> 
                <p class="staticImgparagraph">
The contemporary audio-visual system is one of the key differentiators at the TSR Conference Hall. The built-in ambient lights are equipped to change the ambience to align with your corporate identity hue. You can plug & play your Power Point presentation or audio-video content simply by using a pen drive into the USB/HDMI port. The process is not only hassle-free but you also get to save thousands of Malaysian Ringgits by doing away with the need for outsourcing external audio-visual equipment.                 </div>
                 <div class="item" style="padding:0;">
               <img src="img/017.jpg" class="staticImgDiv" />
            </div>
            <div class="item item-text-wrap" style="staticImgContent">
                <h1 class="staticImgHeading">CHANGING ROOMS</h1>
                <img src="img/sprite.png" class="sprite"/> 
                <p class="staticImgparagraph">
There are exclusive changing rooms for both the ladies and gentlemen. The backstage is professionally and cleverly designed to demarcate the two changing areas. Needless to add, separate washrooms are also available                </div>
                 <div class="item" style="padding:0;">
               <img src="img/003.jpg" class="staticImgDiv" />
            </div>
            <div class="item item-text-wrap" style="staticImgContent">
                <h1 class="staticImgHeading">BANQUET</h1>
                <img src="img/sprite.png" class="sprite"/> 
                <p class="staticImgparagraph">
Bank on TSR for that lavish banquet you have planned out for your special guests. The expansive hall, the elaborate food spread and the exquisite arrangements will ensure that your exclusive guests will find it an occasion to remember forever!            </div>
                </div>
                 <div class="item" style="padding:0;">
               <img src="img/space.jpg" class="staticImgDiv" />
            </div>
            <div class="item item-text-wrap" style="staticImgContent">
                <h1 class="staticImgHeading">PREP SPACE</h1>
                <img src="img/sprite.png" class="sprite"/> 
                <p class="staticImgparagraph">
For those group performance preparations, we have a customized zone. So now you can prep up your performance without the constraint of space. Capable of holding large number of performers, the prep space is at your disposal – free and unobtrusive.                </div>
                </div>
                 <div class="item" style="padding:0;">
                 <ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play=true show-pager="false" does-continue="true">
   <ion-slide>
                    <div class="row">
                        <div class="col">
                            <i class="icon ion-chevron-left slideNextPrevious" ng-click="previous()"></i>
                            <img src="img/cat1.jpg" ng-click="openModal('catering',0)" class="staticImgDiv"></img>
                            <i class="icon ion-chevron-right slideNext" ng-click="next()"></i>
                        </div>
                    </div>
                </ion-slide>

  <ion-slide>
                    <div class="row">
                        <div class="col">
                            <i class="icon ion-chevron-left slideNextPrevious" ng-click="previous()"></i>
                            <img src="img/cat3.jpg" ng-click="openModal('catering',1)" class="staticImgDiv"></img>
                            <i class="icon ion-chevron-right slideNext" ng-click="next()"></i>
                        </div>
                    </div>
                </ion-slide>
       <ion-slide>
                    <div class="row">
                        <div class="col">
                            <i class="icon ion-chevron-left slideNextPrevious" ng-click="previous()"></i>
                            <img src="img/cat4.jpg" ng-click="openModal('catering',2)" class="staticImgDiv"></img>
                            <i class="icon ion-chevron-right slideNext" ng-click="next()"></i>
                        </div>
                    </div>
                </ion-slide>
                <ion-slide>
                    <div class="row">
                        <div class="col">
                            <i class="icon ion-chevron-left slideNextPrevious" ng-click="previous()"></i>
                            <img src="img/cat5.jpg" ng-click="openModal('catering',3)" class="staticImgDiv"></img>
                            <i class="icon ion-chevron-right slideNext" ng-click="next()"></i>
                        </div>
                    </div>
                </ion-slide>
                  <ion-slide>
                    <div class="row">
                        <div class="col">
                            <i class="icon ion-chevron-left slideNextPrevious" ng-click="previous()"></i>
                            <img src="img/cat6.jpg" ng-click="openModal('catering',4)" class="staticImgDiv"></img>
                            <i class="icon ion-chevron-right slideNext" ng-click="next()"></i>
                        </div>
                    </div>
                </ion-slide>
                     <ion-slide>
                    <div class="row">
                        <div class="col">
                            <i class="icon ion-chevron-left slideNextPrevious" ng-click="previous()"></i>
                            <img src="img/cat6.jpg" ng-click="openModal('catering',4)" class="staticImgDiv"></img>
                            <i class="icon ion-chevron-right slideNext" ng-click="next()"></i>
                        </div>
                    </div>
                </ion-slide>
                 <ion-slide>
                    <div class="row">
                        <div class="col">
                            <i class="icon ion-chevron-left slideNextPrevious" ng-click="previous()"></i>
                            <img src="img/cat3.jpg" ng-click="openModal('catering',5)" class="staticImgDiv"></img>
                            <i class="icon ion-chevron-right slideNext" ng-click="next()"></i>
                        </div>
                    </div>
                </ion-slide>
 
</ion-slide-box>

            </div>
            <div class="item item-text-wrap" style="staticImgContent">
                <h1 class="staticImgHeading">CATERING</h1>
                <img src="img/sprite.png" class="sprite"/> 
                <p class="staticImgparagraph">
A built-in Food & Beverage facilities counter ensures that refreshments are available round the clock. There is also directlift access made available to the central kitchen. The GrabnGo Concession and Food Court at the Mall are added attractions to suit the palate of one and all </div>
 <div class="item" style="padding:0;">
 <div class="row">
  <div class="col"> <img src="img/mol1.jpg" class="staticImgDiv"/></div>
  <div class="col"> <img src="img/mol2.jpg" class="staticImgDiv"/></div>
  </div>
            </div>
            <div class="item item-text-wrap" style="staticImgContent">
                <h1 class="staticImgHeading">SURAU</h1>
                <img src="img/sprite.png" class="sprite"/> 
                <p class="staticImgparagraph">
Respecting the religious sentiments of the Muslim brethren, a Surau facility has been made available at Level 17 of the TSR Conference Hall. The guests can offer prayers and pay obeisance in the Surau space. Besides the Conference Hall, one more Surau has been accommodated at Level 10 of the Mall. 
</p>
</div>

</ion-content>
</ion-view>