<ion-pane class="messaging-view " ng-controller="interCtrl">
    <ion-header-bar class="bar ">
      <a class="button icon-left ion-chevron-left button-clear button"style="color:#67aded" ng-click="back()"></a>
      <h1 class="title ">{{cusdetail.cusName}}</h1>
    </ion-header-bar>

    <ion-content >
<div class="text">{{Aggentdetail.agentName}}</div>
        <div class="card firstbut ">
            <div class="button-bar ">
                <a class="button button-small button-positive msgListbut ">Open Ticket</a>
                <a class="button button-small msgListbut ">Close Ticket</a>
            </div>
        </div>
       <div class="card radiusCard " style="height:15vh;">
            <a class="item item-avatar length " href="#">
                <img src="/img/user2.jpg ">
                <p>Customer want to book a hall<br>for 1day on 22/10/2017</p>
                <p style="text-align:right;color:blue;">12.37 p.m.</p>
            </a>
        </div>
      <div ng-repeat="message in messages " class="messages1 ">

        <div class="message card radiusCard " ng-if="message.userId=='me'">
            <a class="item item-avatar-right length " href="#">
                <img src="/img/user1.png ">
                <p>{{ message.text }}</p>
                <span class="colorright ">&#x2714;</span><span class="colorright1 ">&#x2714;</span>
                <p style="text-align:left;padding:3px;color:blue;">{{message.time}}</p>
              
            </a>
        </div>

        <div class="message card radiusCard "  ng-if="message.userId=='you'" class="messages ">
          <a class="item item-avatar length " href="#">
            <img src="/img/user2.jpg ">
            <p>{{ message.text }}</p>
            <p style="text-align:left;color:blue;">{{message.time}}</p>
          
          </a>
        </div>
    </div>

    
</ion-content>
<ion-footer-bar keyboard-attach class="bar-stable item-input-inset " style="border-radius:15vh;">
    <label class="item-input-wrapper ">
        <input type="text " style="border:none;" placeholder="Type your message " on-return="sendMessage();closeKeyboard()" ng-model="data.message " on-focus="inputUp()" on-blur="inputDown()"/>
    </label>
    <button class="button button-clear " ng-click="sendMessage()">
        <i class="icon ion-navigate "style="color:#67aded;"></i>
    </button>
</ion-footer-bar>
</ion-pane>




