<ion-view ng-controller="goBackCtrl">
    <ion-header-bar class="bar ">
        <a class="icon ion-android-arrow-back" ng-click="goBack()" style="font-size:30px;padding-left:10px;color:green" ng-click="back()"></a>
        <h1 class="title " style="margin-left:50px">Events</h1>
    </ion-header-bar>
    <ion-content>

      
 
        <div class="card">
            <div class="item" style="padding:0;">
                <img src="img/e1.jpg" class="staticImgDiv"/>
            </div>
            <div class="item item-text-wrap" style="staticImgContent">
                <h1 class="staticImgHeading">MEETINGS &CONFERENCES</h1>
            </div>
            <div class="item" style="padding:0;">
                <img src="img/e2.jpg" class="staticImgDiv"/>
            </div>
            <div class="item item-text-wrap" style="staticImgContent">
                <h1 class="staticImgHeading">TRAINING &SEMINARS</h1>
            </div>
            <div class="item" style="padding:0;">
                <img src="img/e3.jpg" class="staticImgDiv"/>
            </div>
            <div class="item item-text-wrap" style="staticImgContent">
                <h1 class="staticImgHeading">PRIVATE FUNCTION</h1>
                 </div>
            
            <div class="item" style="padding:0;">
                <img src="img/e4.jpg" class="staticImgDiv"/>
            </div>
            <div class="item item-text-wrap" style="staticImgContent">
                <h1 class="staticImgHeading">BANQUET</h1>
            </div>
            <div class="item" style="padding:0;">
                <img src="img/e5.jpg" class="staticImgDiv"/>
            </div>
            <div class="item item-text-wrap" style="staticImgContent">
                <h1 class="staticImgHeading">EXHIBITIONS</h1>
            </div>
            <div class="item" style="padding:0;">
                <img src="img/e6.jpg" class="staticImgDiv"/>
            </div>
            <div class="item item-text-wrap" style="staticImgContent">
                <h1 class="staticImgHeading">AWARD FUNCTION</h1>
             </div>
             <div class="item" style="padding:0;">
                <img src="img/e7.jpg" class="staticImgDiv"/>
            </div>
            <div class="item item-text-wrap" style="staticImgContent">
                <h1 class="staticImgHeading">WEDDINGS</h1>
             </div>
             <div class="item" style="padding:0;">
                <img src="img/e8.jpg" class="staticImgDiv"/>
            </div>
            <div class="item item-text-wrap" style="staticImgContent">
                <h1 class="staticImgHeading">SPECIAL EVENTS</h1>
             </div>
    </ion-content>
</ion-view>
