<ion-view ng-controller="goBackCtrl">
<ion-header-bar class="bar ">
        <a class="icon ion-android-arrow-back" ng-click="goBack()"  style="font-size:30px;padding-left:10px;color:green"ng-click="back()"></a>
        <h1 class="title "style="margin-left:50px">Our Business Facilities</h1>
</ion-header-bar>

    <ion-content>
      <div class="card">
            <div class="item" style="padding:0;">
               <img src="img/009.jpg" class="staticImgDiv" />
            </div>
            <div class="item item-text-wrap" style="staticImgContent">
                <h1 class="staticImgHeading">MEETINGS & CONFERENCES</h1>
                <img src="img/sprite.png" class="sprite"/> 
                <p class="staticImgparagraph">
Meetings & conferences are an integral part of every business. However, it is not always possible to host them within the premises of your office due to several constraints. By extending end-to-end solutions for organizing meetings & conferences, we make sure that you have all that you need, right under one roof.                </p>
            </div>
             <div class="item" style="padding:0;">
               <img src="img/015.jpg" class="staticImgDiv" />
            </div>
            <div class="item item-text-wrap" style="staticImgContent">
                <h1 class="staticImgHeading">TRAINING</h1>
                <img src="img/sprite.png" class="sprite"/> 
                <p class="staticImgparagraph">
While inducting new employees into your organization, it is imperative to create an ambience that they find welcoming, while also having the right environment to train them. The TSR Conference Hall will help you put together a warm, ice-breaking session and at the same time, orient the new incumbents about your company's work ethos, rules, regulations and nature of operations.                </p>
            </div>
             <div class="item" style="padding:0;">
               <img src="img/014.jpg" class="staticImgDiv" />
            </div>
            <div class="item item-text-wrap" style="staticImgContent">
                <h1 class="staticImgHeading">TEAM BUILDING</h1>
                <img src="img/sprite.png" class="sprite"/> 
                <p class="staticImgparagraph">
Organizations are often faced with the need for team building exercises at regular intervals. While it is an official pre-requisite, it is also important to add a personal touch and some fun elements to help the team bond better. To aid you in this initiative, TSR Conference Hall comes to your rescue with every amenity that you will need to build your team.                </p>
            </div>
             <div class="item" style="padding:0;">
               <img src="img/012.jpg" class="staticImgDiv" />
            </div>
            <div class="item item-text-wrap" style="staticImgContent">
                <h1 class="staticImgHeading">SEMINARS</h1>
                <img src="img/sprite.png" class="sprite"/> 
                <p class="staticImgparagraph">
Just when you have that all-important seminar to host, the audio-visual equipment leaves you stranded. No worries. With TSR Conference Hall, you have everything at your disposal, including the most state-of-the-art audio-visual systems. So, just book the hall and get set for a seminar that is truly hassle-free.                </p>
            </div>
             <div class="item" style="padding:0;">
               <img src="img/007.jpg" class="staticImgDiv" />
            </div>
            <div class="item item-text-wrap" style="staticImgContent">
                <h1 class="staticImgHeading">EXHIBITIONS</h1>
                <img src="img/sprite.png" class="sprite"/> 
                <p class="staticImgparagraph">
Experience the aura of an extensive exhibition venue, right here at TSR Conference Hall. We can assist you with unique display arrangements that will ensure that the spotlight remains on your products. So the next time you think exhibitions, think TSR!                </p>
            </div>
             <div class="item" style="padding:0;">
               <img src="img/011.jpg" class="staticImgDiv" />
            </div>
            <div class="item item-text-wrap" style="staticImgContent">
                <h1 class="staticImgHeading">PRODUCT LAUNCHES</h1>
                <img src="img/sprite.png" class="sprite"/> 
                <p class="staticImgparagraph">
The launch of a new product is a landmark event for your organization. Make it extraordinary with our large format LED screens that will live stream the products with the greatest attention to detail. The powerful sound systems will help highlight the product features. The integrated audio-visual facility is all you need to give your product a roaring launch!                </p>
            </div>
             <div class="item" style="padding:0;">
               <img src="img/002.jpg" class="staticImgDiv" />
            </div>
            <div class="item item-text-wrap" style="staticImgContent">
                <h1 class="staticImgHeading">AWARD FUNCTION</h1>
                <img src="img/sprite.png" class="sprite"/> 
                <p class="staticImgparagraph">
An award function is one that every employee looks forward to. It is the time when efforts are rewarded, endeavours are applauded and performance is recognized. It is a time for you to extend your appreciation, show your employees how much they mean to your organization and reiterate that they deserve nothing than the best. By choosing TSR Conference Hall, you are once again investing your faith in the best, and best alone!            </div>
            </div>
         
</ion-content>
</ion-view>