<ion-view ng-controller="signUpCtrl">
    <ion-content style="background-color:#f6f6f6;">
     <div class="changePwdDiv">
        <div class="changePwdImgDiv">
            <img src="../img/user3.png"></img>
            <h4>Change Password</h4>
        </div>
        
        <div id="changePwdFormDiv">
               
            <form id="changePwdForm" name="signUpForm" ng-submit='signUp(signUpObj)'>
                <div class="list list-inset" style="background-color:transparent;">
                    <p>Change password</p>

                    <label class="item item-input" style="padding:2vw;">
                        <input type="tel" ng-model="signUpObj.mobileNo" placeholder="enter your new password" required>
                    </label>
                    <label class="item item-input" style="padding:2vw;">
                        <input type="email" ng-model="signUpObj.emailId" placeholder="enter your new password again" required>
                    </label>
                    <button type="submit" class="button button-small button-block button-positive">Continue</button>
                </div>
            </form>
        </div>
        <div id="changePwdBackDiv">
              <a href="#/forgotPwdOtp" class="button ion-arrow-left-c button-positive"></a>
        </div>
      </div>  
    </ion-content>
</ion-view>
