<ion-view ng-controller="goBackCtrl">
<ion-header-bar class="bar ">
        <a class="icon ion-android-arrow-back" ng-click="goBack()"  style="font-size:30px;padding-left:10px;color:green"></a>
        <h1 class="title " style="margin-left:80px">Contact Us</h1>
</ion-header-bar>

<ion-content>
<div>

<h1 class="contactDetailsHeader">
WE WOULD LOVE TO HEAR FROM YOU! GET IN TOUCH WITH US AT THE CONTACT DETAILS GIVEN BELOW
 </h1>
 <div style="width:30%;margin:auto">
   <img src="img/sprite.png" style=""/>
   </div> 
    <dl class="contact-info">
                                <dt><span class="icon-location"></span>Address:</dt>
                                <dd>
                                    TSR Conference Hall (M) Sdn. Bhd. (1185194-T)<br>
                                    IRDKL Mall, Level 16 & 17, <br>
                                    No.1, Jalan Serai Wangi M 16/M, Alam Avenue 2, Seksyen 16, 40000 Shah Alam, Selangor Malaysia
                                </dd>
                                <dt><span class="icon-phone"></span>Phone:</dt>
                                <dd>T: (+603) 5522 2266, (+603) 5519 2266</dd>
								<dd>F: (+603) 5522 2265</dd>
								<dd>M: (+6) 012 615 3333, (+6) 019 261 8321</dd>
                                <dt><span class="icon-paperplane"></span>E-MAIL:</dt>
                                <dd><a href="mailto:enquiry@tsrconferencehall.com;">enquiry@tsrconferencehall.com</a></dd>
								<dt><span class="fa fa-globe"></span>Website:</dt>
                                <dd><a href="http://tsrconferencehall.com;">tsrconferencehall.com</a></dd>
                            </dl>
                            <div class="google-map">
                                <div class="map-responsive" id="map_canvas">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d996.0357865421986!2d101.48970706444312!3d3.056343480427803!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x74553a53d0def331!2sIRDKL+Mall!5e0!3m2!1sen!2ssg!4v1472457103930" width="100%" height="240" frameborder="0" style="border:0" allowfullscreen></iframe>
                                </div>
                            </div>
							<div style="clear:both;"></div><br>
							<a style="text-decoration:none;height:100px;width:100px; background-color:black;padding:10px;border-radius:6px;margin:0 auto;color:white" href="images/map01.jpg" download>Download  Map</a>

<div class="list list-inset">
  <label class="item item-input contactInput">
        <input type="text" placeholder="Full Name*">
  </label>
  <label class="item item-input contactInput">
        <input type="text" placeholder="Email*">
  </label>
  <label class="item item-input contactInput">
        <input type="text" placeholder="Phone Number*">
  </label>
  <label class="item item-input contactInput">
        <input type="text" placeholder="Organization name">
  </label>
  <label class="item item-input contactInput">
       <textarea rows="4" cols="50" placeholder="Comment"></textarea>
  </label>
</div>
<button class="button button-stable">
  Send Message
</button>


</div>

</ion-content>
</ion-view>