<ion-view style="background-color:#e4e4e4;">
    <ion-content>
        <div>
            <div class="fontDiv">
                <h5>Fill Enquiry form to get instant Communiction</h5>
                <h6>Fill this form and send the request,our executive will get touch with you shortly</h6>
            </div>
            <form id="signUpForm" name="signUpForm" ng-submit='signUp(signUpObj)'>
                <button class="button icon-right ion-chevron-right  button-outline button-stable homeButtons" ng-click="getFacilityList()"><p style="color:black;margin:3vh;margin-right:0!important">{{facility}}</p></button>
                <label class="item item-input inputText">
       <span> Begining Date:</span><input type="date">
         </label>
                <label class="item item-input inputText">
       <span> End Date:</span> <input type="date" >
         </label>
                <label class="item item-input inputText">
        <input type="text" placeholder="Special Requests,Customized needs">
         </label>
                <div class="button  button-block button-positive sendButton">
                    Send
                </div>
            </form>
            <div id="signUpBackDiv">
                <a href="#/login" class="button ion-arrow-left-c button-positive"></a>
            </div>
        </div>
    </ion-content>
</ion-view>