<ion-view ng-controller="publicFacility" >
<ion-content overflow-scroll="true">
<form id="enquiryForm" name="enquiryFor"  style="margin-top:4vh;height:90%;">
    <div class="list list-inset" style="background-color:transparent;margin:0!important">
        <p style="text-align:center;font-size:5vw;font-weight:bold">Enquiry Form</p>
        <label class="item item-input" style="padding:2vw;">
            <input type="text" ng-model="enquiryObj.FirstName"  placeholder="First Name" jhipster-maxlength="25">
        </label>
        <label class="item item-input" style="padding:2vw;">
            <input type="text" ng-model="enquiryObj.LastName" jhipster-maxlength="25" placeholder="Last Name" >
        </label>
        <label class="item item-input" style="padding:2vw;">
            <input type="tel" ng-model="enquiryObj.ContactNo" jhipster-maxlength="25" placeholder="Phone Number">
        </label>
        
        <label class="item item-input" style="padding:2vw;">
            <input type="date" ng-model="enquiryObj.EventDate " placeholder="dd/MM/YYYY" required>
        </label>
        <label class="item item-input" style="padding:2vw;">
            <input type="email" ng-model="enquiryObj.Email" jhipster-maxlength="30" placeholder="Email" required>
        </label>
        <label class="item item-input item-select" style="padding:1vh;">
            <div class="input-label" style="color:grey">
                Select Event Type:
            </div>
            <select ng-model="enquiryObj.EventId" convert-to-number>
                <option ng-repeat="event in events" value={{event.EventId}}>{{event.EventName}}</option>
            </select>
        </label>
        
        <label class="item item-input" style="padding:2vw;">
            <input type="text"jhipster-maxlength="30" ng-model="enquiryObj.Others" placeholder="Others" required/>
        </label>
        <label class="item item-input" style="padding:2vw;">
            <input type="text" jhipster-maxlength="30" ng-model="enquiryObj.Remarks" placeholder="Remarks" required/>
        </label>
          <button type="submit" ng-click='enquiryForm()' class="button button-small button-block button-positive" style="background:#8A2BE2 !important">Send Enquiry</button>

    </div>
</form>
<div id="signUpBackDiv">

              <a ng-click="goBack()" class="button ion-arrow-left-c button-positive"></a>
              <p >go back</p>

        </div>
</ion-content>
</ion-view>