<ion-view ng-controller="signUpCtrl">
    <ion-content style="background-color:#f6f6f6;">
        <div class="signUpImgDiv">
            <img ng-src="img/lockIcon2.png" />
            <h4>Reset your Password</h4>
        </div>
        
        <div id="forgotPwdFormDiv">
            <form id="forgotPwdForm" name="signUpForm" ng-submit='signUp(signUpObj)'>
                <div class="list list-inset" style="background-color:transparent;">
                    
                    <label class="item item-input" style="padding:2vw;">
                        <i class="icon ion-email"></i>  
                        <input type="text" placeholder="enter your email" id="code" required>
                        <button class="button button-small button-positive" >Send</button>
                    </label>
                    <p style="font-size:12px;">Please enter the code your recieved in your email</p>
                    <label class="item item-input" style="padding:2vw;">
                        <i class="icon ion-email"></i>
                        <input type="text" placeholder="code" id="code" required>
                    </label>
                    <button type="submit" class="button button-small button-block button-positive">Reset password</button>
                </div>
            </form>
        </div>
        <div id="forgotPwdBackDiv">
              <a ng-click="goBack()" class="button ion-arrow-left-c button-positive"></a>
              <p>go back</p>
        </div>
    </ion-content>
</ion-view>
