<ion-view ng-controller="goBackCtrl">
    <ion-content>

        <div class="card">
            <div class="item" style="padding:0;">
               <img src="img/205.jpg" class="staticImgDiv" />
            </div>
            <div class="item item-text-wrap" style="staticImgContent">
                <h1 class="staticImgHeading">D'ROYALE HALL</h1>
                <img src="img/sprite.png" class="sprite"/> 
                <p class="staticImgparagraph">
                    D'Royale HALL is an exclusive Ballroom to host your most important events, conference, exhibition, weddings & parties. It is attached to the Le Grand Function Room and a VVIP Lounge, looking over from the mezzanine floor to the stage. It comes with a Karaoke-ready system and information sharing through a centralized audio-video control to display any information for the live stage show. Also built in food and beverage facilities counter and lift access to central kitchen.

                </p>
                <p> <strong style="color:#c2a476">RECOMMENDED EVENTS </strong>Conference, Training, Product Launch, Seminars, Wedding, Exhibition etc.,</p>
            </div>

            <div class="item" style="padding:0">
                <img src="img/205.jpg" class="staticImgDiv" />
            </div>
            <div class="item item-text-wrap" style="staticImgContent">
                <h1 class="staticImgHeading">LE GRAND HALL</h1>
                <img src="img/sprite.png" class="sprite"/>
                <p class="staticImgparagraph">
                    LE GRAND HALL is an awesome place to host your events, product launches, seminars, bethodral, birthday parties etc., VVIP Lounge is close to the LE GRAND HALL. It comes with a Karaoke-ready system and information sharing through a centralized audio-video control to display any information for the live stage show. 
                    <p><strong style="color:#c2a476">RECOMMENDED EVENTS</strong> Banquet, Conference, Training, Product Launch, Seminars etc.,</p>
                </p>
            </div>
            <div class="item" style="padding:0">
                <img src="img/101.jpg" class="staticImgDiv" />
            </div>
            <div class="item item-text-wrap" style="staticImgContent">
                <h1 class="staticImgHeading">PRE FUNCTION HALL</p>
                <img src="img/sprite.png" />
                <p class="staticImgparagraph">
                    PRE-FUNCTION HALL that allows
                     preparations before moving on to the 
                     function room. The Pre-function lobby has a
                      removable partition door. It comes with a 
                      Karaoke-ready system and information sharing
                       through a centralized audio-video control 
                       to display any information for the live stage
                        show.
                        <p > <strong style="color:#c2a476">RECOMMENDED EVENTS</strong> Training, Seminars, Recognitions, Event etc.,</p>
                </p>
            </div>
        </div>
        <div id="signUpBackDiv">

              <a ng-click="goBack()" class="button ion-arrow-left-c button-positive"></a>
              <p>go back</p>

        </div>
    </ion-content>
</ion-view>