<ion-view>
    <ion-content>
        <ion-card class="staticImgbackground">
            <div>
                <img src="img/205.jpg" class="staticImgDiv" />
            </div>
            <ion-card-content >
                <ion-card-title >
                    D'ROYALE HALL
                    <img src="img/sprite.png">
                </ion-card-title>
                <p>
                    D'Royale HALL is an exclusive Ballroom to host your most important events, conference, exhibition, weddings & parties. It is attached to the Le Grand Function Room and a VVIP Lounge, looking over from the mezzanine floor to the stage. It comes with a Karaoke-ready system and information sharing through a centralized audio-video control to display any information for the live stage show. Also built in food and beverage facilities counter and lift access to central kitchen. RECOMMENDED EVENTS Conference, Training, Product Launch, Seminars, Wedding, Exhibition etc.,
                </p>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <div>
                <img src="img/301.jpg" class="staticImgDiv" />
            </div>
            <ion-card-content>
                <ion-card-title>
                    LE GRAND HALL
                </ion-card-title>
                <p>
                    LE GRAND HALL is an awesome place to host your events, product launches, seminars, bethodral, birthday parties etc., VVIP Lounge is close to the LE GRAND HALL. It comes with a Karaoke-ready system and information sharing through a centralized audio-video control to display any information for the live stage show. RECOMMENDED EVENTS Banquet, Conference, Training, Product Launch, Seminars etc.,
                </p>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <div>
                <img src="img/101.jpg" class="staticImgDiv" />
            </div>
            <ion-card-content>
                <ion-card-title>
                    PRE FUNCTION HALL
                </ion-card-title>
                <p>
                    PRE-FUNCTION HALL that allows preparations before moving on to the function room. The Pre-function lobby has a removable partition door. It comes with a Karaoke-ready system and information sharing through a centralized audio-video control to display any information for the live stage show. RECOMMENDED EVENTS Training, Seminars, Recognitions, Event etc.,
                </p>
            </ion-card-content>
        </ion-card>
   <div class = "card">
   <div class = "item" style="padding:0">
       <img src="img/205.jpg" class="staticImgDiv" />
   </div>
   
   <div class = "item item-text-wrap">
   <p>D'ROYALE HALL</p>
       <img src="img/sprite.png">
      <p>
         D'Royale HALL is an exclusive Ballroom to host your most important events, conference, exhibition, weddings & parties. It is attached to the Le Grand Function Room and a VVIP Lounge, looking over from the mezzanine floor to the stage. It comes with a Karaoke-ready system and information sharing through a centralized audio-video control to display any information for the live stage show. Also built in food and beverage facilities counter and lift access to central kitchen. RECOMMENDED EVENTS Conference, Training, Product Launch, Seminars, Wedding, Exhibition etc.,
      </p>
   </div>
</div>
    </ion-content>
</ion-view>