<ion-model-view>
<!--<div style="background:White;padding:1vh!important">
<i class="icon ion-chevron-left" style="font-size:5vh;color:#1E90FF;padding-left:1vw;" ng-click="closeModel('model1')"></i>	

 </div>-->
   <ion-header-bar class="bar ">
      <a class="button icon-left ion-chevron-left button-clear button-positive " ng-click="closeModel('model1')"></a>
      <h1 class="title">Catalogue Facility Discription</h1>
    </ion-header-bar>
   <!-- <ion-slide-box does-continue="true" auto-play="true" style=" color:black!important;background-color:white!important;height:100vh!important;">-->
     <!--   <ion-slide>-->
     <div style="background:#f6f6f6;height:100vh">
     <ion-content class="has-header">
            <ion-card>
                <ion-card-header>


                    <img src="{{image}}" width="100%" height="auto"></img>

                </ion-card-header>
                <div style="margin-left:3vh !important; ">
                    <ion-card-content class="text-style">
                        <h4> But the American term "head-shot" the English simply refuse to adopt.</h4>
                        <p>But the American term "head-shot" the English simply refuse to adopt.</p>
                        <p>
                            <p> But the American term "head-shot" the English simply refuse to adopt.</p>
                            <p> But the American term "head-shot" the English simply refuse to adopt.</p>
                    </ion-card-content>
                </div>
            </ion-card>
       <!-- </ion-slide>

        <ion-slide>
            <div class="box box2">
            <ion-card-header>
                <img src="img/202.jpg" width="100%" height="auto"></img>
                </ion-card-header>
                 <div style="margin-left:3vh !important">
                    <ion-card-content class="text-style">
                        <h4> But the American term "head-shot" the English simply refuse to adopt.</h4>
                        <p>But the American term "head-shot" the English simply refuse to adopt.</p>
                        <p>
                            <p> But the American term "head-shot" the English simply refuse to adopt.</p>
                            <p> But the American term "head-shot" the English simply refuse to adopt.</p>
                    </ion-card-content>
                </div>
            </div>
        </ion-slide>

        <ion-slide>
            <div class="box box3">
            <ion-card-header>
                <img src="img/203.jpg" width="100%" height="auto"></img>
                 </ion-card-header>
                 <div style="margin-left:3vh !important">
                    <ion-card-content class="text-style">
                        <h4> But the American term "head-shot" the English simply refuse to adopt.</h4>
                        <p>But the American term "head-shot" the English simply refuse to adopt.</p>
                        <p>
                            <p> But the American term "head-shot" the English simply refuse to adopt.</p>
                            <p> But the American term "head-shot" the English simply refuse to adopt.</p>
                    </ion-card-content>
                </div>
            </div>
        </ion-slide>-->

    <!--</ion-slide-box>-->
    </ion-content>
    </div>
    </ion-model-view>