<ion-view  style="background-color:#f6f6f6;" ng-controller="openticCtrl">
    <ion-tabs class="tabs-icon-bottom userTabs ">
        <ion-tab icon-on="ion-ios-bell tabsicon-on" icon-off="ion-ios-bell-outline" href="#/internalTabs/openTicket">
            <ion-nav-view name="tab-tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab icon-on="ion-android-textsms tabsicon-on" icon-off="ion-android-textsms" href="#/internalTabs/tab2">
            <ion-nav-view name="tab-openTicket"></ion-nav-view>
        </ion-tab>
        <ion-tab icon-on="ion-speakerphone tabsicon-on" icon-off="ion-speakerphone" href="#/internalTabs/tab3">
            <ion-nav-view name="tab-tab3"></ion-nav-view>
        </ion-tab>
        <ion-tab icon-on="ion-stats-bars tabsicon-on" icon-off="ion-stats-bars" href="#/internalTabs/tab4">
            <ion-nav-view name="tab-tab4"></ion-nav-view>
        </ion-tab>
        <ion-tab icon-on="ion-ios-person tabsicon-on" icon-off="ion-ios-person-outline" href="#/internalTabs/tab5">
            <ion-nav-view name="tab-tab4"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
 