<ion-view ng-controller="publicFacility" style="background-color:#f6f6f6;">
    <ion-tabs class="tabs-icon-bottom userTabs">
        <ion-tab icon-on="ion-ios-bell" icon-off="ion-ios-bell-outline" href="#/internalTabs/openTicket">
           <ion-nav-view name="tab-openTicket"></ion-nav-view>
        </ion-tab>
        <ion-tab icon-on="ion-android-textsms" icon-off="ion-android-textsms" href="#/internalTabs/tab2">
           <ion-nav-view name="tab-tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab icon-on="ion-ios-briefcase" icon-off="ion-ios-briefcase-outline" href="#/internalTabs/tab3">
           <ion-nav-view name="tab-tab3"></ion-nav-view> 
        </ion-tab>
        <ion-tab icon-on="ion-ios-person" icon-off="ion-ios-person-outline" href="#/internalTabs/tab4">
           <ion-nav-view name="tab-tab4"></ion-nav-view>
        </ion-tab>
        <ion-tab icon-on="ion-ios-person" icon-off="ion-ios-person-outline" href="#/internalTabs/tab5">
           <ion-nav-view name="tab-tab4"></ion-nav-view>
        </ion-tab>

    </ion-tabs>
</ion-view>
 