<ion-view ng-controller="loginCtrl">
    <ion-content>
        <div class="loginDiv">
            <div id="loginImgDiv">
                <img src="img/tsrLogo.png"></img>
            </div>
            <div class="loginFormDiv">
                <form id="loginForm" name="loginForm" >
                    <div class="list list-inset" style="margin:0!important">
                        <label class="item item-input" style="padding:2vw;">
                            <input type="text" placeholder="email id" id="uname" ng-model="loginObj.username" required>
                        </label>
                        <label class="item item-input" style="padding:2vw;">
                            <input type="password" placeholder="password" id="pwd" ng-model="loginObj.password" required>
                        </label>
                        <button type="submit" class="button button-small button-block button-positive" ng-click='login()'>Login</button>
                    </div>
                </form>
                <div class="signUpLinkDiv">
                    <a href="#/signUp">Sign up</a>
                </div>
                <div class="forgotPwdLinkDiv">
                    <a href="#/forgotPwdOtp">forgot password?</a>
                </div>
               
            </div>
        </div>
    </ion-content>
</ion-view>
