<ion-view ng-controller="mainHomeCtrl">
<div class="bar bar-header">
  <button class="button button-icon icon ion-navicon" ng-click="sideMenu()"></button>
 
</div>
    <ion-content>
    
      <div id="mainHomeDiv">
        <div id="mainImgDiv">
          <img src="img/tsrLogo.png"></img>
        </div>
        <ion-slides id="mainSlide" options="options" slider="data.slider">
            <ion-slide-page ng-repeat="slide in slides">
                <div class="item item-text-wrap slidingCard">
                   <h2 style="margin:2vh 0;">{{slide.head}}</h2>
                   <p>{{slide.content}}</p>
                    <a id="mainGetStartLink" ng-click="getStarted()" >get started</a>
                </div>
            </ion-slide-page>
        </ion-slides>
     </div>
    </ion-content>
</ion-view>
