<ion-view title="Customer Name" style="background-color:#e4e4e4;">
    <ion-nav-bar class="bar">
        <ion-nav-buttons side="left">
            <a class="button icon-left ion-chevron-left button-clear button-positive"></a>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="card firstbut">
            <div class="button-bar">
                <a class="button button-small button-positive" style="padding:0px;margin:0px;">Open Ticket</a>
                <a class="button button-small" style="padding:0px;margin:0px;">Close Ticket</a>
            </div>
        </div>
        <div class="card radiusCard">
            <a class="item item-avatar length" href="#">
                <img src="/img/user2.jpg">
                <p>
                    Customer want to book a hall<br>for 1day on 22/10/2017
                    
                    
                
                </p>
                <p style="text-align: right;color:blue;">12.30 p.m.</p>
            </a>
        </div>
        <div class="card radiusCard">
            <a class="item item-avatar-right length" href="#">
                <img src="/img/user1.png">
                <p>Hello Mr.Allison,thanks for contacting us,we have high demand for the hall on the day you are looking for, our executive will communicate to help you go through the booking process
                    </p>
                <p style="text-align: left;color:blue;">
                    <span style="color:green;">&#x2714;&#x2714;</span>
                    12.30 p.m.
                    
                    
                
                </p>
            </a>
        </div>
        <div style="text-align:center;font-size: 1.2em;color:#545454;font family:Sans-serif;">Assign an executive to communicate</div>
        <div class="card radiusCard">
            <div class="row">
                <div class="col">
                    <img src="/img/user2.jpg " style="width:7vh;height:7vh;margin:2vh;">
                </div>
                <div class="col">
                    <img src="/img/user2.jpg " style="width:7vh;height:7vh;margin:2vh;">
                </div>
                <div class="col">
                    <img src="/img/user2.jpg " style="width:7vh;height:7vh;margin:2vh;">
                </div>
                <div class="col">
                    <img src="/img/user2.jpg " style="width:7vh;height:7vh;margin:2vh;">
                </div>
            </div>
        </div>
        <div class="row messtext">
            <div class="col col-75" style="padding:0px;margin0px;">
                <input type="text" placeholder="escribir mensajes" style="width:100%;padding:0px;margin:0px;background-color:#e4e4e4;">
            </div>
            <div class="col" style="padding:0px;margin0px;">
                <button class="button button-small textarea">
                    <i class="icon ion-android-create"></i>
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
