<ion-pane class="messaging-view " ng-controller="interCtrl" style="background-color:#f6f6f6;">
    <ion-header-bar class="bar ">

        <a class="button icon-left ion-chevron-left button-clear button " style="color:#67aded " ng-click="back()"></a>
        <h1 class="title ">{{Assignee}}</h1>

   
    </ion-header-bar>
    <ion-content>
        <div class="card firstbut ">
            <div class="button-bar ">
                <a class="button button-small button-positive msgListbut ">Open Ticket</a>
                <a class="button button-small msgListbut">Close Ticket</a>
            </div>
        </div>
        <!-- <div class="card radiusCard " style="height:100px;">
            <a class="item item-avatar length " href=" ">
                <img ng-src="img/user2.jpg "/>
                 <p>{{EnqReply.Message}}<br>for 1day on 22/10/2017</p>
                <p style="text-align:right;color:blue;">{{EnqReply.MessageDateTime}}</p>
            </a>
        </div>-->
        <div ng-repeat="message in MessagesLst|reverse" class="messages1 ">
            <div class="message card radiusCard " ng-if="message.ReplyFrom==Assignee">
                <a class="item item-avatar-right length " href="">
                    <img src="img/user1.png ">
                    <p>{{ message.Message }}</p>
                  <!--  <p>Name:{{message.ReplyFrom}}</p>-->
                    <span class="colorright ">&#x2714;</span>
                    <span class="colorright1 ">&#x2714;</span>
                    <p style="text-align:left;padding:3px;color:blue;">{{message.MessageDateTime}}</p>
                </a>
            </div>
            <div class="message card radiusCard " ng-if="message.ReplyFrom!=Assignee" class="messages ">
                <a class="item item-avatar length " href="">
                    <img src="img/user2.jpg ">
                    <p>{{ message.Message}}</p>
                   <!-- <p>Name:{{message.ReplyFrom}}</p>-->
                    <p style="text-align:left;color:blue;">{{message.MessageDateTime}}</p>
                </a>
            </div>
        </div>
        <div class="message card radiusCard "  ng-repeat="Messg in pushMessage"ng-if="pushMessage!=undefined" class="messages ">
                <a class="item item-avatar length " href="">
                    <img src="img/user2.jpg ">
                    <p>{{Messg.message}}</p>
                  <p style="text-align:left;color:blue;">{{Messg.date | date: "HH:mm:ss"}}</p>

                   <!-- <p>Name:{{message.ReplyFrom}}</p>

                    <p style="text-align:left;color:blue;">{{message.MessageDateTime| date: "HH:mm:ss"}}</p>-->
                </a>
            </div>
        <div ng-if="admin==true">
            <P style="text-align:center;font-size:1.2em;color:#545454;font family:Sans-serif;">Assign an executive to communicate</p>
            <div class="card radiusCard ">
                <div class="row " style="height:80px;overflow-x: visible;">
                    <div class="col " ng-repeat="y in aggent " ng-click="moveAssigner(y)">
                        <img src="img/user2.jpg " style="width:auto;height:45px;margin:0 3vw;border-radius:50%;">
                       <!-- <i class="icon ion-record imgicon " ng-class="{'online':y.status=='online','offline':y.status=='offline','waiting':y.status=='waiting'}"></i>-->
                        <p style="font-size:0.7em;margin:0 2vw;text-align:center;bottom:1vh;;position:relative;">{{y.DisplayName}}</p>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar keyboard-attach class="bar-stable item-input-inset " style="border-radius:15vh;">
        <label class="item-input-wrapper ">
            <input type="text " style="border:none;" placeholder="Type your message " on-return="sendMessage();closeKeyboard()" ng-model="data.message " on-focus="inputUp()" on-blur="inputDown()"/>
        </label>
        <button class="button button-clear " ng-click="sendMessage()">
            <i class="icon ion-navigate " style="color:#67aded;"></i>
        </button>
    </ion-footer-bar>
</ion-pane>