<ion-view title="Mensajes" style="background-color:#e4e4e4;">
    <ion-content>
        <i class="icon ion-android-textsms arrow1"></i>
        <p>Open Ticket</p>
        <div class="text">Open Ticket</div>
        <div class="card radiusCard">
            <a class="item item-avatar length" href="#">
                <img src="/img/user2.jpg">
                <p>Daniel Benitez</p>
                <p>
                    for date 22/10/2017,for le grandHall<i class="icon ion-chevron-right arrow"></i>
                </p>
                <p>last contact 14/3/2017</p>
            </a>
        </div>
        <div class="card radiusCard">
            <a class="item item-avatar length" href="#">
                <img src="/img/user2.jpg">
                <p>Daniel Benitez</p>
                <p> 
                    for date 22/10/2017,for le grandHall<i class="icon ion-chevron-right arrow"></i>
                </p>
                <p>last contact 14/3/2017</p>
            </a>
        </div>
    </ion-content>
    
    <div class="tabs-striped tabs-color-assertive">
        <div class="tabs">
            <a class="tab-item active" href="#">
                <i class="icon ion-home"></i>
                Test
            </a>
            <a class="tab-item" href="#">
                <i class="icon ion-star"></i>
                Favorites
            </a>
            <a class="tab-item" href="#">
                <i class="icon ion-gear-a"></i>
                Settings
            </a>
        </div>
    </div>
</ion-view>
