<ion-view title="Messages" style="background-color:#f6f6f6;" ng-controller="openticCtrl">
    <ion-content>
        <i class="icon ion-android-textsms arrow1"></i>
        <p style="text-align:center">Open Ticket</p>
        <div class="text">Open Ticket</div>
        <div class="card radiusCard" ng-repeat="x in openmesg">
            <div class="row" style="padding:0px;">
                <div class="col imgCol">
                    <i class="icon ion-minus-circled" style="color:green;"></i>
                    <p style="padding-top:8vh;font-size:0.7em; ">Daniel Benitez</p>
                </div>
                <div class="col col-75 opetextsize">
                    <p>{{x.cusName}}</p>
                    <p>
                        {{x.msg}}<i class="icon ion-chevron-right arrow" ng-click="msgList()"></i>
                    </p>
                    <p>{{x.lastCon}}</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
