<ion-view ng-controller="goBackCtrl">
<ion-header-bar class="bar ">
        <a class="icon ion-android-arrow-back" ng-click="goBack()"  style="font-size:30px;padding-left:10px;color:green"ng-click="back()"></a>
        <h1 class="title " style="margin-left:50px">Our Facilities for Pleasure</h1>
</ion-header-bar>

<ion-content>
  <div class="card">
            <div class="item" style="padding:0;">
               <img src="img/016.jpg" class="staticImgDiv" />
            </div>
            <div class="item item-text-wrap" style="staticImgContent">
                <h1 class="staticImgHeading">WEDDINGS</h1>
                <img src="img/sprite.png" class="sprite"/> 
                <p class="staticImgparagraph">
That once-in-a-lifetime moment deserves a venue that you and your guests, will cherish for a lifetime. Capable of hosting more than …... guests, the hall will prove to be your perfect partner on this memorable occasion            </div>
                 <div class="item" style="padding:0;">
               <img src="img/005.jpg" class="staticImgDiv" />
            </div>
            <div class="item item-text-wrap" style="staticImgContent">
                <h1 class="staticImgHeading">BIRTHDAYS</h1>
                <img src="img/sprite.png" class="sprite"/> 
                <p class="staticImgparagraph">
Every birthday needs a bash that is so like you – unique! From the cake to the décor to the drinks and the menu, each element has to be thoughtfully spread out to create a truly exceptional birthday. At TSR, no matter which age group you belong to, get set to be pleasantly surprised!            </div>
                 <div class="item" style="padding:0;">
               <img src="img/004.jpg" class="staticImgDiv" />
            </div>
            <div class="item item-text-wrap" style="staticImgContent">
                <h1 class="staticImgHeading">BETROTHALS</h1>
                <img src="img/sprite.png" class="sprite"/> 
                <p class="staticImgparagraph">
It is the beginning of a new relationship. With your future spouse and as you will discover, with TSR. Because, once you have chosen TSR, you will look no further when you want every single event in your life to be remembered forever.            </div>
                 <div class="item" style="padding:0;">
               <img src="img/003.jpg" class="staticImgDiv" />
            </div>
            <div class="item item-text-wrap" style="staticImgContent">
                <h1 class="staticImgHeading">BANQUET</h1>
                <img src="img/sprite.png" class="sprite"/> 
                <p class="staticImgparagraph">
Bank on TSR for that lavish banquet you have planned out for your special guests. The expansive hall, the elaborate food spread and the exquisite arrangements will ensure that your exclusive guests will find it an occasion to remember forever!            </div>
                 <div class="item" style="padding:0;">
               <img src="img/205.jpg" class="staticImgDiv" />
            </div>
            <div class="item item-text-wrap" style="staticImgContent">
                <h1 class="staticImgHeading">PARTIES</h1>
                <img src="img/sprite.png" class="sprite"/> 
                <p class="staticImgparagraph">
All of Malaysia has one common motto – Work hard, Party harder! Which is why, TSR has been designed to host parties of every kind. Whatever be the type of party, one thing remains the same – fun, food and a fantastic time for one and all!            </div>
                 <div class="item" style="padding:0;">
               <img src="img/006.jpg" class="staticImgDiv" />
            </div>
            <div class="item item-text-wrap" style="staticImgContent">
                <h1 class="staticImgHeading">SPECIAL EVENTS</h1>
                <img src="img/sprite.png" class="sprite"/> 
                <p class="staticImgparagraph">
There are certain special events that might find it difficult to be accommodated in the regular halls. Either the gathering may be too small, or too big. For those special and exclusive events, TSR is just ideal. By arranging the space in a manner that is perfect for your requirements, TSR is just what you want for those custom-specific events            </div>
 </div>

</ion-content>
</ion-view>