<ion-view ng-controller="signUpCtrl">
    <ion-content>
        <form name="signUpForm" ng-submit='signUp(signUpObj)'>
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input type="text" ng-model="signUpObj.uName" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">Email Id</span>
                    <input type="email" ng-model="signUpObj.emailId" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">Mobile No</span>
                    <input type="tel" ng-model="signUpObj.mobileNo" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">Choose a password</span>
                    <input type="password" ng-model="signUpObj.password" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">Re-type password</span>
                    <input type="password" ng-model="signUpObj.cPassword" required>
                </label>
            </div>
            <button type="submit" class="button" >Sign Up</button>
        </form>
        <a href="#" ng-click="goToLogin()">Sign In?</a>
    </ion-content>
</ion-view>
