<ion-view title="Mensajes" ng-controller="publicFacility" style="background-color:#e4e4e4;">

   <ion-header-bar class="bar ">
        <a class="button icon-left ion-chevron-left button-clear button " style="color:#67aded " ng-click="goBack()"></a>
        <h1 class="title ">{{openmesg.FirstName+ " " +cusdetail.LastName }}</h1>
    </ion-header-bar>
    
    <ion-content>
        <!--<div class="bar bar-header">
            <a class="button icon-left ion-chevron-left button-clear button-positive"></a>
            <h1 class="title">Mensajes</h1>
        </div>
        
        <button class="button button-small button-positive listToggle">Open Ticket</button>-->
        <div class="text">Daniel Benitez</div>
        <div class="card radiusCard">
            <a class="item item-avatar-right length" href="#">
                <img src="/img/user2.jpg">
                <p>Hello Mr.Allison,thanks for contacting us,we have high demand for the hall on the day you are looking for, our executive will communicate to help you go through the booking process
                    </p>
                <p style="text-align: left;color:blue;">
                    <span style="color:green;">&#x2714;&#x2714;</span>
                    12.30 p.m.           
                
                
                </p>
            </a>
        </div>
        <div class="card radiusCard">
            <a class="item item-avatar length" href="#">
                <img src="/img/user1.png">
                <p>
                    Customer want to book a hall<br>for 1day on 22/10/2017
             
                
                </p>
                <p style="text-align: right;color:blue;">12.37 p.m.</p>
            </a>
        </div>
        <div class="card radiusCard">
            <a class="item item-avatar-right length" href="#">
                <img src="/img/user2.jpg">
                <p style="text-wrap:normal;">Hello Mr.Allison,thanks for contacting us,we have high demand for the hall on the day you are looking for, our executive will communicate to help you go through the booking process
                    </p>
                <p style="text-align: left;color:blue;">
                    <span style="color:green;">&#x2714;&#x2714;</span>
                    12.40 p.m.           
                            
                </p>
            </a>
        </div>
       
    </ion-content>
    <ion-footer-bar class="row messtext">
     <div>
            <div class="col" >
                <input type="text" placeholder="escribir mensajes" style="width:100%;padding:0px;margin:0px;background-color:#e4e4e4;border-radius: 25px;">
          
              
            </div>
        </div>
          <button style="float:right;"class="button button-small textarea">
                    <i class="icon ion-android-create"></i>
                </button>
    </ion-footer-bar>
</ion-view>
